@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background: #0F172A;
    display: grid;
    place-items: center;
    margin-top: 40px;
    font-family: "JetBrains Mono", monospace;
}

#main-div {
    padding: 20px;
    border: 0px solid none;
    border-radius: 15px;
    background: #0f1e39;
}

img {
    height: 200px;
    width: 160px;
    border-radius: 15px;
    background: #1E293B;
    margin: 20px;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: #1E293B;
    color: #10B981;
    align-items: center;
}

#head-info {
    text-align: center;
    width: 100%;
}

main {
    width: 800px;
    background: #10B981;
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: center;    
}

table {
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

th {
    border: 1px solid black;
    border-radius: 5px;
}

tr, td {
    /* border: 1px solid black; */
    padding: 5px;
    /* border-radius: 5px; */
    text-align: center;
}

#kind-of-offers-lbl {
    margin: 20px;
    margin-top: 50px;
    font-size: 25px;
}

#chat {
    padding: 10px;
    border: 0px solid none;
    border-radius: 20px;
    background: #28036293;
    margin-top: 10px;
}

#edu {
    padding: 10px;
    border: 5px double black;
    border-radius: 10px;
}

#wcoo {
    background: #1E293B;
    border: 0px solid none;
    border-radius: 50px;
    border-bottom-left-radius: 0px;
    width: 50%;
    color: white;
    padding: 10px;
    padding-left: 30px;
    margin-top: 30px;
}

#myresp {
    background: #316ed1;
    border: 0px solid none;
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    width: 60%;
    color: white;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 30px;
}

#exp {
    margin-top: 50px;
    border: 5px double black;
    border-radius: 10px;
    padding: 10px;
}

#note b {
    font-size: 25px;
}

#note {
    margin-top: 50px;
    border: 5px double black;
    border-radius: 10px;
    padding: 10px;
}

#projects-div {
    margin-top: 50px;
    border: 5px double black;
    border-radius: 10px;
    padding: 10px;
}

#projects-div a {
    display: inline-block;
    color: black;
    text-decoration-line: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out
}

#projects-div a:hover {
    background: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

#proj-lbl {
    font-size: 20px;
}

footer {
    margin-top: 50px;
    color: rgb(103, 102, 102);
    font-size: 15px;
    width: 800px;
}

#github-div {
    margin-top: 50px;
    border: 5px double black;
    border-radius: 10px;
    padding: 10px;
}

#github-div #contact-lbl {
    font-size: 20px;
}

#github-div a {
    display: inline-block;
    color: black;
    text-decoration-line: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out
}

#github-div a:hover {
    background: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}